<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Shopping List</h1>
  <%= link_to 'Groceries', groceries_path %>
  <%= link_to 'Foods', foods_path %>
    <%= yield %>
  </body>
</html>
